.projects__list {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.25rem;
    row-gap: 1.75rem;
}

@media only screen and (min-width: calc(640px + 40px)) {
    .projects__list {
        grid-template-columns: repeat(3, 1fr);
    }
}
