---
import styles from './Projects.module.css'
import { Section } from '../Section'
import { Card } from '../Card'
---

<Section
    id="projects"
    pretitle="Projects"
    title="Stuff I've created"
    theme="green"
>
    <svg
        slot="icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
    >
        <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 5.25H3c-.83 0-1.5.67-1.5 1.5v7.5c0 .83.67 1.5 1.5 1.5h12c.83 0 1.5-.67 1.5-1.5v-7.5c0-.83-.67-1.5-1.5-1.5Z"
        ></path>
        <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 15.75v-12a1.5 1.5 0 0 0-1.5-1.5h-3A1.5 1.5 0 0 0 6 3.75v12"
        ></path>
    </svg>
    <p>Take a look at what I've been up to in my free time.</p>
    <ul class={styles.projects__list}>
        <li>
            <Card
                description={'Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet.'}
                title="Lorem ipsum"
                link={{
                    href: 'https://github.com/keziahrg',
                    ariaLabel: 'Github repo',
                }}
            />
        </li>
        <li>
            <Card
                title="Lorem ipsum"
                link={{
                    href: 'https://github.com/keziahrg/',
                    ariaLabel: 'Github repo',
                }}
                description={'Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet.'}
            />
        </li>
        <li>
            <Card
                title="Torchbug bot"
                link={{
                    href: 'https://github.com/keziahrg/torchbug-bot',
                    ariaLabel: 'Github repository',
                }}
                description={'A Twitter bot that sends daily tweets pleading for a leading MMO to gift me a rare in-game pet. Built with TypeScript and scheduled with Netlify Functions.'}
            />
        </li>
    </ul>
</Section>

<script>
    const projectsSection = document.querySelector<HTMLElement>('#projects')
    const projectCards = document.querySelectorAll<HTMLElement>('.card')

    const handleTrackCursor = (e: MouseEvent) => {
        projectCards.forEach((card) => {
            const { x, y } = card.getBoundingClientRect()
            const xPosition = (e.clientX - x).toString()
            const yPosition = (e.clientY - y).toString()
            card.style.setProperty('--x', xPosition)
            card.style.setProperty('--y', yPosition)
        })
    }

    if (projectsSection) {
        projectsSection.addEventListener('mousemove', handleTrackCursor)
    }
</script>
