---
import styles from './Projects.module.css'
import { Section } from '../Section'
import { Card } from '../Card'
---

<Section pretitle="Projects" title="Stuff I've created" theme="green">
    <svg
        slot="icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
    >
        <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 5.25H3c-.83 0-1.5.67-1.5 1.5v7.5c0 .83.67 1.5 1.5 1.5h12c.83 0 1.5-.67 1.5-1.5v-7.5c0-.83-.67-1.5-1.5-1.5Z"
        ></path>
        <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 15.75v-12a1.5 1.5 0 0 0-1.5-1.5h-3A1.5 1.5 0 0 0 6 3.75v12"
        ></path>
    </svg>
    <p>
        A selection of my experimentations in the world of front-end
        development. Take a peek and see what I've been up to in my free time!
    </p>
    <ul class={styles.projects__list}>
        <li>
            <Card
                title="Lorem ipsum"
                link={{
                    href: 'https://github.com/keziahrg',
                    ariaLabel: 'Github repo',
                }}
            >
                <p>
                    Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet.
                    Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet.
                </p>
            </Card>
        </li>
        <li>
            <Card
                title="Lorem ipsum"
                link={{
                    href: 'https://github.com/keziahrg/',
                    ariaLabel: 'Github repo',
                }}
            >
                <p>
                    Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet.
                    Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet.
                </p>
            </Card>
        </li>
        <li>
            <Card
                title="Torchbug bot"
                link={{
                    href: 'https://github.com/keziahrg/torchbug-bot',
                    ariaLabel: 'Github repository',
                }}
                description={'A Twitter bot that sends daily tweets pleading for a leading MMO to gift me a rare in-game pet. Built with TypeScript and scheduled with Netlify Functions.'}
            />
        </li>
    </ul>
</Section>

<script>
    const cards: NodeListOf<HTMLElement> = document.querySelectorAll('.card')

    cards.forEach((card) => {
        card.addEventListener('mousemove', (e: MouseEvent) => {
            const { x, y } = card.getBoundingClientRect()
            const xPosition = (e.clientX - x).toString()
            const yPosition = (e.clientY - y).toString()
            card.style.setProperty('--x', xPosition)
            card.style.setProperty('--y', yPosition)
        })
    })
</script>
