---
import styles from './Projects.module.css'
import { Card } from '../Card'
---

<section>
    <h2 class={styles.projects__title}>Projects</h2>
    <h3>Stuff I've created</h3>
    <ul class={styles.projects__list}>
        <li>
            <Card
                title="Lorem ipsum"
                description="Lorem ipsum dolar sit amet."
                link={{
                    href: 'https://github.com/keziahrg',
                    ariaLabel: 'Github repo',
                }}
            />
        </li>
        <li>
            <Card
                title="Lorem ipsum"
                description="Lorem ipsum dolar sit amet."
                link={{
                    href: 'https://github.com/keziahrg/',
                    ariaLabel: 'Github repo',
                }}
            />
        </li>
        <li>
            <Card
                title="Lorem ipsum"
                description="Lorem ipsum dolar sit amet."
                link={{
                    href: 'https://github.com/keziahrg',
                    ariaLabel: 'Github repo',
                }}
            />
        </li>
    </ul>
</section>
