---
import { Button } from '../Button'
import { Container } from '../Container'
import styles from './Hero.module.css'
---

<section class={styles.hero}>
    <Container width="md" paddingBottom>
        <h1>Hero</h1>
        <Button href="#contact" label="Get in touch" />
    </Container>
</section>
