<section>
    <h1>Keziah Rackley-Gale</h1>
    <p>
        Creating visually stunning software and web experiences. Building
        bespoke digital solutions. Transforming projects and delivering
        exceptional results.
    </p>
</section>
