---
import styles from './Hero.module.css'
---

<section>
    <h1>Keziah Rackley-Gale</h1>
    <p class={styles.hero__lead}>
        Creating visually stunning software and web experiences. Transforming
        projects and delivering exceptional results.
    </p>
</section>
