---
import styles from './Hero.module.css'
---

<section>
    <h1>Keziah Rackley-Gale</h1>
    <p class={styles.hero__lead}>
        Creating <em class={styles.hero__highlight}>stunning software</em> and web
        experiences. Transforming projects and delivering <em
            class={styles.hero__highlight}>exceptional results</em
        >.
    </p>
</section>
