---
import styles from './Hero.module.css'
---

<section id="animatedSectionTrigger">
    <h1 class="animate--translate_x">Keziah Rackley-Gale</h1>
    <p class:list={[styles.hero__lead, 'animate--translate_x']}>
        Creating <em class={styles.hero__highlight}>stunning software</em> and web
        experiences. Transforming projects and delivering <em
            class={styles.hero__highlight}>exceptional results</em
        >.
    </p>
</section>
