:root {
    --purple: #4f46e5;
    --purple-tint: #473fce;
    --black: #171717;
    --white: #f4f4f5;
    --grey: #e4e4e7;
    --gutters: 1.25rem;
    --padding: calc(#{var(--gutters)} * 5);
}

body {
    color: var(--black);
    background-color: var(--white);
}

@media (prefers-color-scheme: dark) {
    body {
        --purple: #818cf8;
        --purple-tint: #747edf;
        --grey: #27272a;
        color: var(--white);
        background-color: var(--black);
    }
}

h1,
h2,
h3,
p,
a,
li,
button,
input,
textarea,
.subheading {
    line-height: 1.6;
}

h1,
h2 {
    font-family: 'Newzald', sans-serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.125rem;
}

.subheading {
    color: var(--purple);
    font-size: 0.75rem;
    font-family: 'National Medium', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5%;
}

@media only screen and (min-width: 768px) {
    p,
    a,
    li,
    button,
    input,
    textarea {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 4.375rem;
    }

    h2 {
        font-size: 2.625rem;
    }

    h3 {
        font-size: 1.375rem;
    }

    .subheading {
        font-size: 1rem;
    }
}
