---
import { Container } from '../Container'
import { SectionHeader } from '../SectionHeader'
import styles from './About.module.css'
---

<section class={styles.about}>
    <Container width="lg" paddingBottom>
        <SectionHeader
            id="about"
            preheading="About:"
            heading="Get to know me"
        />
        <p>
            Kia ora! My name's Keziah (pronounced kee-zee-ah). I’m a software
            engineer from Aotearoa New Zealand.
        </p>
        <p>
            My first introduction to writing code was in 2011 when I discovered
            I could customise my Tumblr theme using HTML and CSS. It sparked an
            interest; after completing an English degree that didn’t fulfil me —
            I pivoted — and made coding my career.
        </p>

        <p>
            In the past few years, I’ve worked at one of the most well-known
            marketing agencies in New Zealand, freelanced, and worked at a
            close-knit digital studio.
        </p>

        <p>Some of the technologies I’ve recently used include:</p>

        <ul>
            <li>Javascript (ES6+)</li>
            <li>Typescript</li>
            <li>React</li>
            <li>React Native</li>
            <li>Gatsby.js</li>
            <li>Next.js</li>
            <li>Node.js</li>
            <li>AWS</li>
        </ul>
    </Container>
</section>
