---
import styles from './About.module.css'
---

<section class={styles.about}>
    <h2 class={styles.about__pretitle}>Backstory</h2>
    <h3>Get to know me</h3>
    <p>
        Kia ora! My name's Keziah (pronounced kee-zee-ah). I'm a software
        developer who specialises in building bespoke digital solutions.
    </p>
    <p>
        Originally from Aotearoa New Zealand, I'm now one of the thousands of
        Kiwis who call London home.
    </p>
    <p>
        In the last few years, I've worked at one of the most well-known
        marketing agencies in New Zealand, freelanced, and honed my skills at a
        close-knit digital studio.
    </p>
</section>
