<section>
    <h2>Backstory</h2>
    <p>
        Originally from Aotearoa New Zealand, I'm now one of the thousands of
        Kiwis who call London home.
    </p>
    <p>
        In the last few years, I’ve worked at one of the most well-known
        marketing agencies in New Zealand, freelanced, and honed my skills at a
        close-knit digital studio.
    </p>
</section>
