---
import { Container } from '../Container'
import { SectionHeader } from '../SectionHeader'
import styles from './About.module.css'
---

<section class={styles.about}>
    <Container width="lg" paddingBottom>
        <SectionHeader preheading="About:" heading="Get to know me" />
    </Container>
</section>
