---
import { Container } from '../Container'
import styles from './About.module.css'
---

<section class={styles.about}>
    <Container width="lg" paddingBottom>
        <h2>About</h2>
    </Container>
</section>
