---
import { Container } from '../Container'
import { List } from '../List'
import { SectionHeader } from '../SectionHeader'
import styles from './About.module.css'
---

<section>
    <Container width="lg" paddingBottom>
        <div class={styles.about__content}>
            <SectionHeader
                id="about"
                preheading="About:"
                heading="Get to know me"
            />
            <p>
                Kia ora! My name's Keziah (pronounced kee-zee-ah). I’m a
                software engineer with an interest in UX design. Originally from
                Aotearoa New Zealand, I'm now one of the thousands of Kiwis who
                call London home.
            </p>
            <br />
            <img class={styles.about__image} src="" alt="" />
            <br />
            <p>
                My first introduction to writing code was in 2011 when I
                discovered I could customise my Tumblr theme using HTML and CSS.
                It sparked an interest; after completing an English degree that
                didn’t fulfil me — I pivoted — and made coding my career.
            </p>
            <br />
            <p>
                In the past few years, I’ve worked at one of the most well-known
                marketing agencies in New Zealand, freelanced, and worked at a
                close-knit digital studio.
            </p>
            <br />
            <p>Some of the technologies I’ve recently used include:</p>
            <br />
            <List>
                <li>
                    <span>Javascript (ES6+)</span>
                </li>
                <li>
                    <span>Typescript</span>
                </li>
                <li>
                    <span>React</span>
                </li>
                <li>
                    <span>React Native</span>
                </li>
                <li>
                    <span>Gatsby.js</span>
                </li>
                <li>
                    <span>Next.js</span>
                </li>
                <li>
                    <span>Node.js</span>
                </li>
                <li>
                    <span>AWS</span>
                </li>
            </List>
        </div>
    </Container>
</section>
