---
import { Container } from '../Container'
import { SectionHeader } from '../SectionHeader'
import styles from './Contact.module.css'
---

<section class={styles.contact}>
    <Container width="md" paddingBottom>
        <SectionHeader
            id="contact"
            preheading="Contact:"
            heading="Get in touch"
        />
    </Container>
</section>
