---
import { Container } from '../Container'
import styles from './Contact.module.css'
---

<section class={styles.contact}>
    <Container width="md" paddingBottom>
        <h2>Contact</h2>
    </Container>
</section>
