---
import { Section } from '../Section'
---

<Section
    pretitle="Connect"
    title="Let's have a yarn"
    theme="orange"
    showDecoration={false}
>
    <svg
        slot="icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
    >
        <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 3h12c.82 0 1.5.67 1.5 1.5v9c0 .82-.68 1.5-1.5 1.5H3a1.5 1.5 0 0 1-1.5-1.5v-9C1.5 3.67 2.17 3 3 3Z"
        ></path>
        <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.5 4.5 9 9.75 1.5 4.5"></path>
    </svg>
    <p>
        I'm currently in the process of relocating to London and am open to new
        opportunities and connections.
    </p>
    <p>
        If you'd like to chat, contact me on <a
            href="https://twitter.com/keziahrg"
            target="__blank"
            rel="noopener noreferrer nofollow">Twitter</a
        > or <a
            href="https://www.linkedin.com/in/keziahrg/"
            target="__blank"
            rel="noopener noreferrer nofollow">LinkedIn</a
        >.
    </p>
</Section>
