---
import styles from './Contact.module.css'
---

<section>
    <h2 class={styles.contact__pretitle}>Connect</h2>
    <h3>Let's have a yarn</h3>
    <p>
        Having only recently relocated to London, I'm currently open to work
        (and friends).
    </p>
    <p>
        If you'd like to chat, contact me on <a
            href="https://twitter.com/keziahrg"
            target="__blank"
            rel="noopener noreferrer nofollow">Twitter</a
        > or <a
            href="https://www.linkedin.com/in/keziahrg/"
            target="__blank"
            rel="noopener noreferrer nofollow">LinkedIn</a
        >.
    </p>
</section>
