<section>
    <h2>Connect</h2>
    <p>
        Having only recently relocated to London, I’m currently looking for work
        (and friends).
    </p>
    <p>
        If you’d like to have a chat, feel free to reach out on <a
            href="https://twitter.com/keziahrg"
            target="__blank"
            rel="noopener noreferrer nofollow">Twitter</a
        > or <a
            href="https://www.linkedin.com/in/keziahrg/"
            target="__blank"
            rel="noopener noreferrer nofollow">LinkedIn</a
        >.
    </p>
</section>
