---
import styles from './Section.module.css'

export interface Props {
    pretitle: string
    title: string
    theme: 'purple' | 'green' | 'orange'
    showDecoration?: boolean
    id?: string
}

const { pretitle, title, theme, showDecoration = true, id } = Astro.props
---

<section
    id={id}
    class:list={[
        styles.section,
        [styles[`section--theme_${theme}`], 'section--animation_trigger'],
    ]}
>
    <div class:list={[styles.section__icon, 'animate--fade']}>
        <slot name="icon" />
    </div>
    {
        showDecoration ? (
            <div class:list={[styles.section__decoration, 'animate--scale']} />
        ) : null
    }

    <h2 class:list={[styles.section__pretitle, 'animate--translate_x']}>
        {pretitle}
    </h2>
    <h3 class:list={[styles.section__title, 'animate--translate_x']}>
        {title}
    </h3>
    <div class:list={[styles.section__body, 'animate--translate_x']}>
        <slot />
    </div>
</section>
