.footer {
    padding-bottom: var(--gutters);
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.875rem;
}

.footer__meta {
    font-size: 0.875rem;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .footer__content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .footer__meta {
        font-size: 1rem;
    }
}
