---
import { Container } from '../Container'
import { Socials } from '../Socials'
import styles from './Footer.module.css'
---

<footer class={styles.footer}>
    <Container width="lg">
        <div class={styles.footer__content}>
            <Socials />
            <p class={styles.footer__meta}>
                Designed and developed by Keziah Rackley-Gale
            </p>
        </div>
    </Container>
</footer>
