---
import { Container } from '../Container'
import styles from './Footer.module.css'
---

<footer class={styles.footer}>
    <Container width="lg">
        <p class={styles.footer__meta}>
            Designed and developed by Keziah Rackley-Gale
        </p>
    </Container>
</footer>
