---
import { Container } from '../Container'
import { SectionHeader } from '../SectionHeader'
import styles from './Experience.module.css'
---

<section class={styles.experience}>
    <Container width="md" paddingBottom>
        <SectionHeader preheading="Experience:" heading="Places I've worked" />
    </Container>
</section>
