---
import { Container } from '../Container'
import styles from './Experience.module.css'
---

<section class={styles.experience}>
    <Container width="md" paddingBottom>
        <h2>Experience</h2>
    </Container>
</section>
