---
import { Container } from '../Container'
import styles from './Work.module.css'
---

<section class={styles.work}>
    <Container width="lg" paddingBottom>
        <h2>Work</h2>
    </Container>
</section>
