---
import { Container } from '../Container'
import { SectionHeader } from '../SectionHeader'
import styles from './Work.module.css'
---

<section class={styles.work}>
    <Container width="lg" paddingBottom>
        <SectionHeader
            id="work"
            preheading="Work:"
            heading="Stuff I've created"
        />
    </Container>
</section>
